<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/publics/styles/bootstrap.css">
    <link rel="stylesheet" href="/publics/styles/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Articles</h1>

        <a href="/articles/add">
            <button class="btn btn-primary">
                New article
            </button>
        </a>

        <% articles.map((article) => { %>
            
            <div class="card my-4 p-3" id="ll">
                <!-- <a href="/articles/<%= article.id %>" class="stretched-link"></a> -->
                <h2 class="card-title"><%= article.title %></h2>
                
                
                <div class="card-body">
                    <p class="text-muted">Author: 
                        <span class="font-weight-bold">
                            <%= article.author %>
                        </span> <br />
                        <%= article.createAt.toLocaleString()  %>
                    </p>
    
                    <div class="card-text mb-2 py-1">
                        <%= article.description %>
                    </div>
    
                    <a href="/articles/<%= article.id %>">
                        <button class="btn btn-success">
                            Read More
                        </button>
                    </a>
                    <a href="/articles/edit/<%= article.id %>">
                        <button class="btn btn-primary">
                            Edit 
                        </button>
                    </a>
    
                    <button class="btn btn-danger" onclick="deleteArticle('<%= article.id %>')">
                        Delete
                    </button>
                </div>
            </div>
        <% }) %>
    </div>

    <script>
        function deleteArticle(article_id) {
            alert("deletion on article id:" + article_id)
        }
    </script>
</body>
</html>