<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/publics/styles/bootstrap.css">
    <link rel="stylesheet" href="/publics/styles/main.css">
    <title>Markdown Blog | Home</title>
</head>
<body>
    <div class="container">
        <h1>Articles</h1>

        <a href="/articles/add">
            <button class="btn btn-primary add-btn">
                <span>+</span>
            </button>
        </a>

        <div class="row mt-3">
            <% articles.map((article) => { %>
                
                <div class="article-card bg-fade shadow-3d-sm" id="ll">
                    <!-- <a href="/articles/<%= article.id %>" class="stretched-link"></a> -->
                    <h2 class="article-card-title"><%= article.title %></h2>
                    
                    
                    <div class="card-body">
                        <p class="text-muted">Author: 
                            <span class="font-weight-bold">
                                <%= article.author %>
                            </span> <br />
                            <%= article.createAt.toLocaleString()  %>
                        </p>
        
                        <div class="card-text mb-2 py-1">
                            <%= article.description %>
                        </div>

                        <div class="row">
                            <a href="/articles/<%= article.id %>">
                                <button class="btn read-more-btn mx-1">
                                    Read More
                                </button>
                            </a>
                            <a href="/articles/edit/<%= article.id %>">
                                <button class="btn btn-primary edit-btn mx-1">
                                    Edit 
                                </button>
                            </a>
            
                            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger delete-btn mx-1">
                                    x
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
