<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../components/head") %>
    
    <title>Edit article</title>
</head>
<body>
    <div class="container">
        <h1>Edit article</h1>
        <h2 class="text-muted"><%= article.title %></h2>

        <form action="/articles/edit/<%= article._id %>?_method=PUT" class="edit-form" method="POST">
            <%- include("../components/form_fields") %>
        </form>
    </div>

    <script>
        let titleInput = document.getElementById("title");
        let descriptionInput = document.getElementById("description");
        let contentInput = document.getElementById("contentMarkdown");
 
        titleInput.value = "<%= article.title %>";
        descriptionInput.value = "<%= article.description %>";
        contentInput.value =  "<%= article.contentMarkdown %>";
        
    </script>
</body>
</html>